.formContainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(135deg, #ffeaf4, #fdddf3);
  /* Gradiente rosa clarinho */
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(200, 100, 200, 0.2);
  /* Sombra leve */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* FORM LAYOUT */
.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  position: relative;
}

/* BUTTONS */
.buttonContainer {
  display: flex;
  justify-content: flex-end;
  /* Alinha os botões à direita */
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}

.buttonPagesContainer {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.buttonAction {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(135deg, #ff69b4, #c71585);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.buttonAction:hover {
  background: linear-gradient(135deg, #ff85c0, #d02090);
  box-shadow: 0px 4px 8px rgba(255, 20, 147, 0.3);
}

.buttonAction:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.buttonRemove {
  background: linear-gradient(135deg, #d02090, #ff69b4);
  /* Gradiente rosa forte */
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.buttonRemove:disabled {
  background: gray;
  cursor: not-allowed;
}

.siblingContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* Espaço entre os inputs */
  background: #ffeff6;
  /* Fundo suave */
  padding: 10px;
  border-radius: 8px;
}