.form {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  width: 100%;
  max-width: none;
  position: relative;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  justify-content: flex-end; 
  width: 100%;
  margin-top: 10px;
}
.buttonPagesContainer{
  display: flex;
  gap: 10px;
  justify-content: space-between; 
  width: 100%;
  margin-top: 10px;
}

.buttonAction {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: purple;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: auto;
  min-width: 120px;
}

.buttonAction:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.addressContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaço entre os elementos */
}

.buttonRemove {
  background-color: purple;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.buttonRemove:disabled {
  background-color: gray;
  cursor: not-allowed;
}

/* Responsividade */
@media (max-width: 768px) {
  .buttonContainer {
    justify-content: flex-end; /* No mobile, ainda mantém alinhado à direita */
  }

  .buttonAction {
    font-size: 14px;
    padding: 10px 18px;
  }
}
